body > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.55;
    /* z-index: -1; */
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url(dejavu-fonts-ttf-2.37/ttf/DejaVuSans.ttf);
}

html{
    font-family: "Helvetica";
}

main{
    display: flex;
    flex-flow: column;
}

section:first-child{
    background: repeating-linear-gradient(
        45deg,
        #007cc7,
        #007cc7 1%,
        #007ec8 1%,
        #007ec8 2%
    );
    height: 46vh;
}

section:nth-child(2n){
    background-color: white;
    color: #3289c0;
}

section{
    background-color: #3289c0;
    color: white;
}

.yellow{
    color: red;
}

p.yellow:first-child{
    font-size: 33px;
    line-height: 50px;
}

p.yellow:nth-child(2){
    font-size: 48px;
    margin-top: -25px;
}

p.white{
    margin-top: -24px;
    font-size: 21px;
}

p.white:nth-child(2){
    margin-top: -17px;
    padding-left: 0;
    line-height: 25px;
}

.titulo{
    padding-top: 2%;
    padding-left: 8%;
} 

.titulo-img{
    margin-left: -21%;
    width: 72vh;
}

.sub-titulo{
    padding-top: 24px;
}

.titulo button{
    font-size: 18px;
    margin-top: 18px;
    padding-left: 3px;
}

#lista-vantagens{
    height: 56.5vh;
}

#lista-vantagens p{
    color: grey;
    text-align: center;
    font-size: 15px;
}

#lista-vantagens p:first-child{
    text-align: center;
    font-size: 26.5px;
    font-weight: bold;
    margin-left: -6%;
    padding-top: 31px;
}

#lista-vantagens .container div:nth-child(2) img{
    padding-left: 29%;
    padding-top: 12%;
}

#lista-vantagens .container div:nth-child(3) img{
    padding-left: 4%;
    width: 40vh;
    padding-top: 12%;
}

#lista-vantagens .container div:nth-child(4) img{
    margin-left: -18%;
    padding-top: 12%;
    width: 39vh;
}
